/* GENERAL STYLE */

body {
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    font-size: 8px;
}

h1 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 14.3px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Encode Sans', sans-serif;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 18.2px;
}

h3 {
    font-family: 'Encode Sans', sans-serif;
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
}

h4 {
    font-weight: bold;
    font-family: Quicksand;
    font-size: 10px;
    margin-bottom: 0;
}

h5 {
    font-family: Quicksand;
    font-size: 12px;
    margin-bottom: 0;
    color: #0055A4;
    text-align: center;
    margin: 15px auto 10px auto;
}

p, span {
    font-family: Quicksand;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
}

ul {
    font-family: Quicksand;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
}

i.fas, i.fab {
    margin-right: 10px;
}

/* GENERAL LAYOUT */



.leftcolumn {
    float: left;
    width: 70%;
}

.rightcolumn {
    float: left;
    width: 30%;
    padding-left: 10px;}

.subleftcolumn {
    float: left;
    width: 35%;
    padding-left: 5px;
}

.subrightcolumn {
    float: left;
    width: 65%;
    padding-right: 5px;
}

.card {
    padding: 20px;
    border: none;
    box-shadow: 0.5px 1px 1px 0.5px #888888;
    margin-bottom: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

* {
    box-sizing: border-box
}

/* GENERAL INFORMATION */

.hello {
    text-align: center;
}

#info-header {
    background-color: rgb(224, 221, 221);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 -15px;
    border-radius: 2px;
    box-shadow: 0.5px 1px 1px 0.5px #888888;
}

.contact-info, .contact-address {
    border-left: solid grey thin;
    padding-left: 10px;
    margin-top: 10px;
    float: right;
    width: 120px;
}

.contact-info-title, .contact-address-title {
    display: inline;
    margin-right: 10px;
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    padding-top: 10px;
}

.information {
    width: 130px;
    height: auto;
}

#presentation {
    margin: 15px 0;
    padding: 15px;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 2px;
    box-shadow: 0.5px 1px 1px 0.5px #888888;
}

#presentation div {
    color: #0055A4;
}

/* EDUCATION  */

.education-details {
    font-family: Quicksand;
    font-size: 8px;
    font-style: oblique;
}

/* .education-info {
    font-family: Quicksand;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
} */

/* WORK EXPERIENCE */

.work-position {
    font-weight: bold;
    font-family: Quicksand;
    font-size: 8px;
    display: inline;
}

/* LANGUAGE */

.container-skills {
    width: 65%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
    border: solid;
    border-width: thin;
    float: right;
}

.skills {
    padding-bottom: 10px;
}

.fr {
    width: 100%;
    background: linear-gradient(to right, #0055A4 33.33%, #FFFFFF 0, #fff 66.66%, #EF4135 0);
}

.en {
    width: 97%;
    background: linear-gradient(to right, #169B62 33.33%, #fff 0, #fff 66.66%, #FF883E 0);
}

.es {
    width: 92%;
    background: linear-gradient(to bottom, #AA151B 16.66%, #F1BF00 0, #fff 83.32%, #AA151B 0);
}

.po {
    width: 52%;
    background: linear-gradient(to right, #006600 33.33%, #FF0000 0);
}

.check-list {
    margin: 0;
    padding-left: 0.02rem;
}

.check-list li {
    position: relative;
    list-style-type: none;
    margin-bottom: 0.02rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: 0px;
    width: 2.5px;
    height: 5.5px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.language-name {
    margin-bottom: 0px;
    color: #0055A4;
}

.language-level {
    margin-left: 35px;
}

#container-language {
    margin-top: 10px;
}

/* SKILLS */

.wordcloud-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

/* IMAGES */

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#wordcloud {
    width: 2.5cm;
    height: 2.5cm;
}

#thp {
    vertical-align: middle;
    width: 5mm;
    height: 5mm;
    border-radius: 50%;
    margin: 0 15px;
    float: right;
}

.accreditations {
    vertical-align: middle;
    width: 3mm;
    height: 3mm;
    margin-left: 10px;
}

#aascb {
    vertical-align: middle;
    width: 2mm;
    height: auto;
    margin-left: 20px;
}

#equis {
    vertical-align: middle;
    width: 3mm;
    height: auto;
}

#amba {
    vertical-align: middle;
    width: 5mm;
    height: auto;
    margin-left: 15px;
}

.logo-companies {
    vertical-align: middle;
    width: 5mm;
    height: auto;
    border-radius: 10%;
    margin: 4px 15px;
    float: right;
}

#logo-tedx {
    vertical-align: middle;
    width: 9.5mm;
    height: auto;
    margin: 4px 8px;
    float: right;
}

#logo-texart {
    vertical-align: middle;
    width: 5mm;
    height: auto;
    margin: -5px 15px;
    float: right;
}

#logo-ieseg {
    vertical-align: middle;
    width: 12.5mm;
    height: auto;
    margin: 0px 8px;
    float: right;
}

#front-end {
    width: 12.5mm;
    height: auto;
    margin: 1px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.back-end {
    vertical-align: middle;
    width: 8.5mm;
    height: auto;
    margin: 1px auto;
}

.adobe {
    vertical-align: middle;
    width: 5.5mm;
    height: auto;
    margin: 2px 3px;
}

.office {
    vertical-align: middle;
    width: 5.5mm;
    height: auto;
    margin: 2px 0;
}

.SEO {
    vertical-align: middle;
    width: 5mm;
    height: auto;
    margin: 2px;
}

.suites {
    margin: 2px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}


/* HOBBIES */

.hobbies-section {
    padding: 20px;
    text-align: center;
    margin: 0px -15px 5px -15px;
}

.hobbies {
    margin: 20px -15px 5px -15px;
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.hobbies > div {
    width: 25%;
}


.hobbies p {
    margin: 0;
}

.travel-detail {
    font-style: oblique;
    display: block;
    color: rgba(88, 41, 41, 0.699)

}

/* .sports, .music {
} */

.other, .travel {
    margin-top: 60px;
    padding: auto -100px;
}

.other p, .travel p {
margin: auto -100%;
}

